body {
  font-family: 'Helvetica';
}

.footer {
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}

.column.is-ninety{
  flex:none;
  width:90%
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Helvetica';
}

.logo {
  height: 1.8em;
  margin-bottom: -0.4em;
}

.publication-title {
    font-family: 'Helvetica';
    font-size: 2.9rem !important;
}

.caption {
  font-weight: bold;
  margin: 20px 6% 35px 6%; 
  padding: 0 0 0 2%;
  border-left: thick solid #8c8b8d;
}

.tldr {
  font-size: 1.9rem;
}

table.dataTable thead {
  background-color: #f2f2f2;
  color: #333;
}

table.dataTable tbody tr {
  transition: background-color 0.3s;
}

table.dataTable tbody tr:hover {
  background-color: #f1f1f1;
}

table.dataTable thead th, table.dataTable tbody td {
  padding: 12px 15px;
}

table.dataTable thead th {
  text-align: center;
  vertical-align: middle;
}

.table-info-box {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px auto;
  font-size: 1.3rem;
  text-align: center;
}
/* Style the search bar */

/* Style the pagination */
div.dt-container .dt-paging .dt-paging-button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: .5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  color: #007bff !important;
  border: 1px solid #007bff;
  border-radius: 4px;
  background: transparent;
  transition: background-color 0.3s, color 0.3s;
}

div.dt-container .dt-paging .dt-paging-button:hover {
  background-color: #007bff;
  color: white !important;
}

div.dt-container .dt-paging .current {
  background-color: #007bff;
  color: white !important;
  border: 1px solid #007bff;
}


.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-authors {
    font-family: 'Helvetica';
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}

@media (max-width: 900px) {
  .dt-container, .dt-container .dt-paging .dt-paging-button {
      font-size: 12px;
  }
}

#tableModels {
  margin-top: -6rem !important;
}

#myTopTable {
  font-size: 0.8rem;
}

.competition-name {
  text-align: center; 
  font-size: 1.1rem !important;
  font-family: "Helvetica" !important;
  font-variant: normal !important;
}

.model-name {
  text-align: left !important; 
  font-size: 1.1rem !important;
  font-family: "Helvetica" !important;
  font-variant: normal !important;
}


@import url('https://fonts.googleapis.com/css2?family=Latin+Modern+Roman&display=swap');

.model-names {
  font-size: 1.0rem !important;
  min-width: 260px;
  /* font-family: "Latin Modern Roman", serif; */
  /* font-variant: small-caps; */
}


.avg-cost {
  font-size: 1.0rem !important;
}